header{
    /* background-color: rgb(14, 14, 14); */
    background: linear-gradient(to bottom, rgba(14, 14, 14, 1)60%, rgba(14, 14, 14, 0));
    padding: 2.5% 4%;
    max-width: 100vw;
    height: 10vh;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    list-style: none;
    color: rgb(233, 233, 233);
}
a{
    text-decoration: none;
    color: white ;
    transition: 0.5s;
}
a:hover{
    color: #CB9807;
}
ul>li{
    width: 100%;
}
#menu{
    justify-content: right;
    gap: 1VW;
}
#menu li{
    width: 15vw;
}
.menu li{
    display: flex;
    justify-content:right;
    align-items: center;
}
button{
    border:white 2px solid;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 18px;
    width: 70%;
    height: 100%;
    padding: 5% 3%;
}
button:hover{
        background-color: #CB9807;
        color: rgb(233, 233, 233);
        border:#CB9807 2px solid;
}
img{
   height: 100px;
}

@media (max-width: 900px) {
    #hide{
        display: none;
    }
    #menu li{
        width: 26vw;
        font-size: 12px;
    }
    button{
       
        font-size: 12px;    
    }
}
@media (max-width: 300px){
    #menu li{
        font-size: 10px;
    }
    button{
       
        font-size: 9px;    
    }
}