section{
   color: rgb(233, 233, 233);
   padding: 0 5%;
   max-width: 100vw;
}
.master{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3%;
    overflow: hidden;
}
.img{
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 17px;
}
.ball{
   border-radius: 100% ;
   background-color: #cb9707;
   height: 350px;
   width: 350px;
   position: absolute;
   z-index: -555;
   top: 12%;
   animation: moveBall 5s infinite alternate; /* Animation */
}

@keyframes moveBall {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-30px); /* Distance to move */
  }
}

.layer{
    position: absolute;
    width: 150%;
    height: 120%;
    background: linear-gradient(to top, rgb(14, 14, 14) 12%, rgba(14, 14, 14, 0) 80%);
    z-index: 9;
}
img{

    height: 100%;
    border-radius: 15px;
}

.home{
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
    height: 454px;
    z-index: 99;
}
h4{
    font-size: 24px;
}

h1{
    font-size: 25px;
    line-height: 2;
}
h1,h2,h3,h4{
    font-family: El Messiri;
}
.green{
    color: #CB9807;
}
.button{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1% 3%;
}
.button a{
    border: #CB9807 solid 2px;
    height: 40%;
    width: 30%;
    padding: 3% 2%;
    font-size: 24PX;
    border-radius: 10PX;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
a{
    transition: 0.5s;
    cursor: pointer;
 }
 a:hover{
    transform: translateY(-10%);
 }
.B2{
    background-color: #CB9807;
    color: rgb(233, 233, 233);
}
.B2:hover{
    background-color: transparent;
    color: #CB9807;
}

.first{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;

}
  @media (max-width: 1205px) {
    .ball{
        width: 50%;
        height: 250px;
        width: 250px;
        top: 5%;
    }
    .home{
        text-align: center ;
        padding: 0 10PX;
    }
    .button{
        justify-content: center;
    }
    .master{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 35PX;
        padding: 0;
    }

    .img {
        width: 90vw;
        height: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        height: 100%;
    }
    .button a{
        height: 50%;
        width: 25%;
    }
  }
  @media (max-width: 650px) {
    .img{
        height: 50vh;
    }
    h4{
        font-size: 20px;
    }
    h1{
        font-size: 20px;
    }
    .button a{
        height: 60%;
        width: 50%;
    }
  }
  @media (max-width: 500px) {
    .img{
        height: 38vh;
    }
    h4{
        font-size: 17px;
    }
    h1{
        font-size: 18px;
    }
    .button a{
        height: 70%;
        width: 50%;
    }
  }
  @media (max-width: 400px) {
    .ball{
        height: 200px;
        width: 200px;
    }
  }
  