<section>
    <div class="master">
        <div class="img">
           <img src="assets/omar.png" alt="">
           <div class="ball"></div>
           <DIV class="layer"></DIV>
        </div>
        <div class="home">
            <H4 class="green">مرحبا بك في الدورة رقم 1 بالمغرب تحت إشراف المدرب</H4>
            <H1>عمر الفضلي</H1>
            <H4 class="green">محلل ومتداول بالأسواق المالية </H4>
            <Div class="button"><button class="B2">إشترك الآن</button></Div>
        </div>
    </div>
</section>