<section>
    <div class="master">
        <div class="img">
           <img src="assets/omar3.png" alt="">
           <div class="ball"></div>
           <DIV class="layer"></DIV>
        </div>
        <div class="home">
            <H4 class="green">الأكاديمية الأفضل للتداول بإستعمال التحليل الموجي</H4>
            <H1>الأكاديمية توفر بيئة تعليمية فريدة وشاملة لتعلم فن التداول باستخدام تحليل الموجات.يتضمن هذا النوع من التحليل دراسة نماذج السلوك السعري للأصول المالية لتحديد الاتجاهات المستقبلية للأسعار</H1>
            <H4 class="green">أتقن_عملك_تحقق_أملك#</H4>
            <Div class="button"><a href="https://api.whatsapp.com/send?phone=212691074218" target="_blank" class="B2">إشترك الآن</a></Div>
        </div>
    </div>
</section>