section{
    background-color: #191919;
    color: rgb(233, 233, 233);
    padding: 1% 5%;
    padding: 6%;
    display: flex;
    flex-direction: column;
    gap: 30PX;
    justify-content: center;
    align-items: center;
 }
 button{
    background-color: #CB9807;
    color: #191919;
    border: #CB9807 2px solid;
    border-radius: 60PX;
    font-size: 5VW;
    padding: 0;
    width: 40%;
 }
 button:hover{
   background-color: transparent;
   color: #CB9807;
}