<section>
    <h1>ماذا يوجد في هذه الدورة</h1>
    <div class="card">
       
        <div>
            <img src="../../../assets/ilus1.png" alt="suvi">
            <h3>التتبع</h3>
           <div> أهم مرحلة فهاد الدورة. هنا كنشوفو خدمتك و كنتبعو معاك بشكل مدقق أغلاط لي كتقوم بيها وكنصححوها</div>
        </div>
        <div>
            <img src="../../../assets/ilus2.png" alt="pra">
            <h3>التطبيقي</h3>
            <div>اي حاجة كانشوفوها فالنظري كنطبقوها على الشارت و كانشوفو بزاف ديال الأمثلة تا كنفهموها مزيان</div>
        </div>
        <div>
            <img src="../../../assets/ilus3.png" alt="theori">
            <h3>النظري</h3>
            <div>
                كنقدمو فيه كل مكتحتاج باش تولي متداول محترف بإستعمال التحليل الموجي
                <span class="moreb" (click)="test()"><span *ngIf="t==1"> &#11024;</span><span *ngIf="t==2">&#11025;</span>معلومات اكثر</span>
                <div class="more" [class.active]="expanded">
                    <ul>
                    <li>الموجة الدافعة</li>
                    <li>التصحيح</li>
                    <li>الزيادة في الزخم </li>
                    <li>شرح النماذج الأربعة</li>
                    <li>إستراتيجية </li>
                    <li>الذمج بين الفريمات</li>
                    <li>شرح طريقة تحديد الأهداف</li>
                    <li>نظرية التقفيل</li>
                    <li>طريقة التداول مع الاخبار</li>
                    <li>إدارة المخاطر</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</section>
