*{
    padding: 0;
    margin: 0;
    font-family: El Messiri;
    scroll-behavior: smooth;
}

body{
    font-family: El Messiri;
    overflow-x: clip;
    position: relative;
    max-width: 100vw;
    /* background-image: url(assets/back.jpg); */
    background-size: 100vw 90vh;
    background-repeat: no-repeat;
    background-color: rgb(14, 14, 14);
}
a{
    text-decoration: none;
    width: fit-content;
}
button{
    transition: 0.5s;
    cursor: pointer;
}
button:hover{
    transform: translateY(-10%);
}
html, body { height: 100%; }
body { margin: 0; }
