section {
  background-color: #191919;
  color: rgb(233, 233, 233);
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
  gap: 70PX;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

h1 {
  font-size: 60px;
}

.slider-container {
  width: 100%;
  max-width: 70vw;
  max-height: 90vh;
  margin: 0 auto;
  padding: 5%;
  overflow: clip;
}

.slider {
  display: flex;
  gap: 40PX;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 33.33%; /* Display 3 slides per row by default */
}

.slide img {
  max-width: 60vw;
  height: 70vh;
  border-radius: 10px;
}

button {
  background-color: #cb9807;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 40px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  left: -40px;
}

.next {
  right: -40px;
}

.prev,
.next {
  font-size: 24px;
  padding: 10px;
}

.master {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: El Messiri;
}
.slider {
  display: flex;
  gap: 40px;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 calc(33.33% - 26.67px); /* Adjust for gap */
}
@media (max-width: 750px){
  h1{
     font-size: 27px;
 }
}
@media (max-width: 1100px) and (min-width: 800px) {
  .slide {
    flex: 0 0 calc(50% - 26.67px); /* Adjust for gap */
  }
}

@media (max-width: 800px) {
  .slide {
    flex: 0 0 calc(100% - 26.67px); /* Adjust for gap */
  }
}
